**Data Types (Strings,List,Tuples)**

String length

In [3]:
a= input("Enter a string ")
print(f"The lenght of {a} is {len(a)}")

Enter a string  abc

The lenght of abc is 3

Count vowels and Consonants

In [19]:
a= input("Enter a string")
v,u = 0,0
for c in a:
    if (c >='a' and c<= 'z' or c >='A' and c<='Z'):
        if c in ('a','e','i','o','u','A','E','I','O','U'):
            v+= 1
        else:
            u+= 1
print(f"The number of vowels in {a} is {v}")
print(f"The number of consonents in {a} is {u}")

Enter a string hello

The number of vowels in hello is 2
The number of consonents in hello is 3

Reverse a String

In [23]:
a= input("Enter a string")
print(f"Reverse of {a} is {a[::-1]}")

Enter a string hello

Reverse of hello is olleh

Palindrome

In [35]:
a= input("Enter a string")
b=a[::-1]
print(f"Reverse of {a} is {b}")
if(a==b):
    print("The String is a palindrome")
else:
    print("The string is not a palindrome")

Enter a string hello

Reverse of hello is olleh
The string is not a palindrome

Merge two lists

In [49]:
a = input("Enter first list (Space seperated)").split()
b = input("Enter second list (Space seperated)").split()
print(f"First list : {a}\nSecond list :{b} \nConcanated list{a+b}")

Enter first list (Space seperated) 1 2 3
Enter second list (Space seperated) 2 3

First list : ['1', '2', '3']
Second list :['2', '3']
Concanated list['1', '2', '3', '2', '3']

Remove duplicates

In [57]:
a = input("Enter first list (Space seperated)").split()
print(f"The input Without Duplicates {(set(a))}")

Enter first list (Space seperated) 1 2 2 3

The input Without Duplicates {'1', '3', '2'}

Max, Min from list

In [93]:
a = input("Enter a list of integers (Space Sepertaed)").split()
al= list(map(int,a))
print(f"Max from {al} is {max(al)} \nMin from {al} is {min(al)} ")

Enter a list of integers (Space Sepertaed) 1 2 3

Max from [1, 2, 3] is 3
Min from [1, 2, 3] is 1

Sum of elements in a list

In [95]:
a = input("Enter a list of integers (Space Sepertaed)").split()
al= list(map(int,a))
print(f"sum of elements of {al} is {sum(al)}")

Enter a list of integers (Space Sepertaed) 1 2 3

sum of elements of [1, 2, 3] is 6

Find index

In [111]:
a = input("Enter a list (Space seperated)").split()
b = str(input("Enter the element to be searched for"))
if(b in a):
    print(f"Index of {b} in {a} is {a.index(b)}")
else:
    print(f"The list {a} doesnt contain the element {b}")

Enter a list (Space seperated) 1 2 3
Enter the element to be searched for 2

Index of 2 in ['1', '2', '3'] is 1

Sort list

In [137]:
a = list(map(int,input("Enter a list (Space seperated)").split()))
b = sorted(a)
print(f"Unsorted list {a} \nSorted list {b}")

Enter a list (Space seperated) 3 2 1

Unsorted list [3, 2, 1]
Sorted list [1, 2, 3]

Check if two strings are anagrams

In [177]:
a= input("Enter the first string")
b= input("Enter the Second string")
s=list(a)
count = 0
for c in b:
    if c in s:
        count+= 1
        s.remove(c)
if(count == len(b)):
    print("The given strings are Anagrams")
else:
    print("The given strings are not Anagrams")

Enter the first string ab
Enter the Second string bab

The given strings are not Anagrams

Delete specific element from the list

In [167]:
a = input("Enter a list (Space seperated)").split()
b = str(input("Enter the element to be Deleted"))
if(b in a):
    a.remove(b)
    print(f"List after Deletion is {a}")
else:
    print(f"The list {a} doesnt contain the element {b}")

Enter a list (Space seperated) 1 2 3
Enter the element to be Deleted 2

List after Deletion is ['1', '3']

Second largest element

In [181]:
a = list(map(int,input("Enter a list (Space seperated)").split()))
b = sorted(a)
print(f"Second largest element in {a} is {b[-2]} ")

Enter a list (Space seperated) 1 2 3

Second largest element in [1, 2, 3] is 2

**Tuple,Set and Dictonary**

Tuple Creation

In [185]:
t=(1,2,3,4)
print(f"Tuple contents: {t}")

Tuple contents: (1, 2, 3, 4)

In [ ]:
Tuple packing and unpacking

In [187]:
t=(1,2,3)
a,b,c=t
print(f"a ={a},b={b},c={c}")

a =1,b=2,c=3

Set Uninon intersection

In [195]:
a = list(map(int,input("Enter a list of integers (Space seperated)").split()))
b = list(map(int,input("Enter a list of integers (Space seperated)").split()))
s= set(a)
u=set(b)
print(f"Set A is {s}\nSet B is {u}")
print(f"A Uninon B is {s|u}  \nA intersection B is {s&u}")

Enter a list of integers (Space seperated) 1 2 3
Enter a list of integers (Space seperated) 2 3

Set A is {1, 2, 3}
Set B is {2, 3}
A Uninon B is {1, 2, 3}
A intersection B is {2, 3}

Check subset or superset

In [203]:
a = list(map(int,input("Enter a list of integers (Space seperated)").split()))
b = list(map(int,input("Enter a list of integers (Space seperated)").split()))
s= set(a)
u=set(b)
if(s.issubset(u)):
    print(f"{s} is a subset of {u}")
if(s.issuperset(u)):
    print(f"{s} is a super set of {u}")

Enter a list of integers (Space seperated) 1 2 3
Enter a list of integers (Space seperated) 1

{1, 2, 3} is a super set of {1}

Add or remove list to set

In [211]:
a = list(map(int,input("Enter a list of integers (Space seperated)").split()))
s = set(a)
print(f"Set A is {s}")
b=int(input("Enter the element to be added to the set"))
s.add(b)
print(f"Set A after adding element {b} is {s}")
b=int(input("Enter the element to be removed from the set"))
s.remove(b)
print(f"Set A after removing {b} is {s}")

Enter a list of integers (Space seperated) 1 2 3

Set A is {1, 2, 3}

Enter the element to be added to the set 4

Set A after adding element 4 is {1, 2, 3, 4}

Enter the element to be removed from the set 1

Set A after removing 1 is {2, 3, 4}

In [ ]:
Create Dictonary

In [255]:
a={'a': 1,
  'b' : 2,
  'c' : 3}
print(f"The dictonary a is {a}")

The dictonary a is {'a': 1, 'b': 2, 'c': 3}

Add/update Dictonary

In [259]:
d={}
d['name']=input("Enter a name")
print(f"Current Status: {d}")
d['name']=input("Enter another name")
print(f"Current Status: {d}")

Enter a name hai

Current Status: {'name': 'hai'}

Enter other name hello

Current Status: {'name': 'hello'}

Itreate over a dictonary

In [285]:
d={'a':1,'b':2,'c':3}
for key, value in d.items():
    print(key,value)

a 1
b 2
c 3

Frequency of character in a string

In [295]:
a= input("Enter a string")
freq={}
for char in a:
    freq[char] =  (freq.get(char,0)+1)
print(freq)

Enter a string hello

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
Convert two lists to a dictonary

In [307]:
a= input("Enter a list (Space seperated)").split()
b= input("Enter a list (Space seperated)").split()
dit={}
for i in range(0,len(a)):
    dit[a[i]]= b[i];
print(f"The dictonary is {dit}")

Enter a list (Space seperated) 123
Enter a list (Space seperated) 12

The dictonary is {'123': '12'}

Find common elements between two sets

In [313]:
a = list(map(int,input("Enter a list of integers (Space seperated)").split()))
b = list(map(int,input("Enter a list of integers (Space seperated)").split()))
s= set(a)
u=set(b)
print(f"Set A is {s}\nSet B is {u}")
print(f"The common elements in A and B is {s&u}")

Enter a list of integers (Space seperated) 1 2
Enter a list of integers (Space seperated) 3 1

Set A is {1, 2}
Set B is {1, 3}
The common elements in A and B is {1}

Remove duplicates using a set

In [317]:
a = input("Enter first list (Space seperated)").split()
print(f"The input Without Duplicates {(set(a))}")

Enter first list (Space seperated) 1 2 2 3

The input Without Duplicates {'1', '3', '2'}

In [ ]:
**File Handling**

In [ ]:
Opening a file to read

In [463]:
with open("text.txt",'r') as fd:
    print(fd.read())

Hello World

In [ ]:
Writing into a file

In [481]:
with open("text.txt",'w') as fd:
    fd.write("Hello World!")
with open("text.txt",'r') as fd:
    print(f"{fd.read()}")

Hello World!

Count Words in a file

In [479]:
with open("text.txt",'r') as fd:
    file= fd.read()
file=list(file.split())
print(f"Number of words in File is {len(file)}")

Number of words in File is 2

**Exception handling**

File not found

In [498]:
try:
    with open("Hello.txt",'r') as fd:
        fd.read()
except FileNotFoundError:
    print("The specified file cannot be acceses")

The specified file cannot be acceses

Div by Zero

In [507]:
try: 
    10/0
except ZeroDivisionError :
    print("Cannot devide by 0")

Cannot devide by 0

try,except,else,finally

In [540]:
try:
    a=int(input("Enter a integer"))
except ValueError                                :
    print("Enterd value is not a integer")
else:
    print("The Input is valid")
finally:
    print("This will always run")

Enter a integer a

Enterd value is not a integer
This will always run

In [ ]:
**CSV file**

In [ ]:
Creating and opening a CSV file

In [550]:
with open("Book1.csv",'r') as fd:
    print(fd.read())

Hello World,1
Hello World,2
Hello World,3
Hello World,4
Hello World,5
Hello World,6
Hello World,7
Hello World,8

Reverse contents of a file

In [564]:
with open("Book1.csv",'r') as fd:
    file=fd.read()
print(f"Original file contents : \n{file}")
print(f"reversed file contents : \n {file[::-1]}")

Original file contents :
Hello World,1
Hello World,2
Hello World,3
Hello World,4
Hello World,5
Hello World,6
Hello World,7
Hello World,8

reversed file contents :

8,dlroW olleH
7,dlroW olleH
6,dlroW olleH
5,dlroW olleH
4,dlroW olleH
3,dlroW olleH
2,dlroW olleH
1,dlroW olleH

Copy file contents

In [576]:
with open("Book1.csv",'r') as fd:
    file=fd.read()
with open("Book2.csv",'w') as fd:
    fd.write(file)
print("Contents copied succesfully")
print(f"File 1 : \n{file}")
with open("Book2.csv",'r') as fd:
    print(f"File 2 : \n{fd.read()}")

Contents copied succesfully
File 1 :
Hello World,1
Hello World,2
Hello World,3
Hello World,4
Hello World,5
Hello World,6
Hello World,7
Hello World,8

File 2 :
Hello World,1
Hello World,2
Hello World,3
Hello World,4
Hello World,5
Hello World,6
Hello World,7
Hello World,8

Read file and count vowels