Simple code to print Hello world

In [ ]:
print("Hello World")

Code to read input name and age from user and print it

In [ ]:
x = input("Enter your name: ");
y = int(input("Enter your age : "));
print(f"Your name is {x} and your age is {y}");

Enter your name: Gokul P
Enter your age : 19
Your name is Gokul P and your age is 19

Swap two numbers

In [ ]:
x= int(input("Enter value for x : "));
y= int(input("Enter value for y : "));
print(f"Before swap: Value of x {x} and y {y}");
x,y=y,x;
print(f"After swap: Value of x {x} and y {y}");

Enter value for x1
Enter value for y2
Before swap: Value of x 1 and y 2
After swap: Value of x 2 and y 1

Type casting

In [ ]:
x= int(input("Enter a integer"));
print(f"Datatype {type(x)}, value {x}");
x=str(x);
print(f"Datatype {type(x)}, value {x}");

Enter a integer12
Datatype <class 'int'>, value 12
Datatype <class 'str'>, value 12

Find area of a circle

In [ ]:
import math
x= float(input("Enter the radius: "));
y=(math.pi*x*x);
print(f"Area of inputed circle is {y}");

Enter the radius12
Area of inputed circle is 452.3893421169302

Convert celcius to farheinheit

In [ ]:
c=float(input("Enter Temparature in celcius"));
f=(c*(9/5)+32);
print(f"Temparature in Celcius: {c}, Fareinheit: {f}");

Enter Temparature in celcius30
Temparature in Celcius: 30.0, Fareinheit: 86.0

Sum of two numbers

In [ ]:
x=float(input("Enter the first number :"));
y=float(input("Enter the second number : 3"));
print(f"Sum of {x} + {y} = {x+y}");

Enter the first number :20
Enter the second number : 30
Sum of 20.0 + 30.0 = 50.0

Variable types

In [ ]:
x=int(input("enter an integer"));
y=float(input("Enter a floatubf point number"));
z=input("Enter a string");
print(f"Type of {x} : {type(x)} \nType of {y} : {type(y)} \nType of {z} : {type(z)}");

enter an integer1
Enter a floatubf point number.2
Enter a stringhello
Type of 1 : <class 'int'>
Type of 0.2 : <class 'float'>
Type of hello : <class 'str'>

Reading two values at the same time using split()

In [ ]:
name,age =input("Enter name and age (Space Seperated)").split();
print(f"Your name is {name}, age is {age}");

Enter name and age (Space Seperated)hello 123
Your name is hello, age is 123

Calculating Simple intrest

In [ ]:
p=float(input("Enter the principal amount : "))
r=float(input("Enter the intrest rate : "))
t=float(input("Enter the duration(In years) : "))
print(f"Simple Intrest is : {((p*r*t) / 100)}")

Enter the principal amount : 100
Enter the intrest rate : 2
Enter the duration(In years) : 4
Simple Intrest is : 8.0

Calculate area of a rectangle

In [ ]:
l=float(input("Enter the length of the rectangle :"));
w = float(input("Enter the width of the rectangle : "));
print(f"Area of rectangle is : {l*w}");

Enter the length of the rectangle :10
Enter the width of the rectangle : 20
Area of rectangle is : 200.0

Convert kilometers to miles

In [ ]:
km=float(input("Enter distance in kilometers"));
print(f"Distance in Kilometers {km} , in miles {km*0.62}")

Enter distance in kilometers100
Distance in Kilometers 100.0 , in miles 62.0

Display ASCII value of a character

In [ ]:
c=input("Enter a character");
print(f"ASCII value of {c} is {ord(c)}");

Enter a characterA
ASCII value of A is 65

**Conditional statement**

Check whether a number is odd or even

In [ ]:
num=int(input("Enter an integer : "));
if(num&1):
  print("The number is odd");
else:
  print("The number is even")

Enter an integer : 10
The number is even

Check if year is a leap or not

In [ ]:
y= int(input("Enter a year"));
if(((y % 400) ==0) or ((y % 100) != 0) and ((y % 4) ==0) ):
    print(f"Year {y} is a leap year")
else:
  print(f"Year {y} is Not leap year")

Enter a year2021
Year 2021 is Not leap year

**Itreative statements**

Multiplocation table

In [ ]:
num = int(input("Enter the number to print Multiplication table for : "));
for i in range(1,11):
  print(f"{num} X {i} = {num*i}");

Enter the number to print Multiplication table for : 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Sum of N numbers

In [ ]:
num = int(input("Enter the limit: "));
sum = 0;
for i in range(0,(num+1)):
  sum += i;
print(f"Sum Numbers upto {num} is {sum}");

Enter the limit: 100
Sum Numbers upto 100 is 5050

Factorial using loop

In [ ]:
num = int(input("Enter a number to find factorial for: "));
fact = 1;
if(num > -1):
  for i in range(num,1,-1):
    fact *= i;
  print(f"Factorial of {num} is {fact}");
else:
  print("Cannot find factorial of a negative number")

Enter a number to find factorial for: 5
Factorial of 5 is 120

prime or not

In [ ]:
import sys
num = int(input("Enter a number to check the number is prime or not"))
if(not(num&1)):
  print("The given number is not prime")
  sys.exit(0);
for i in range(2,int((num/2)+1)):
  if(num%i == 0):
    print("The given number is not prime")
    sys.exit(0);
print("The given number is prime")

Enter a number to check the number is prime or not5
The given number is prime

Palindrome or not

In [ ]:
num = int(input("Enter a number to check palindrome or not"))
n1=num;
rev=0;
while (num!=0):
  rev=rev*10 + num %10;
  num //= 10
print(f"Original number {n1} \nReversed number {rev}")
if(n1 == rev):
  print(f"The Number is a palindrome");
else:
  print(f"The Number is not a palindrome");

Enter a number to check palindrome or not111
Original number 111
Reversed number 111
The Number is a palindrome

Print pattern

In [ ]:
limit = int(input("Enter the limit: "))
for i in range (0,limit*2,2):
  print();
  for j in range(0,int((limit*2-i)/2)):
      print(" ",end="")
  for j in range(0,i+1):
    print("*", end ="")

Enter the limit: 10

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

Reverse a number

In [ ]:
num = int(input("Enter a number: "))
n1=num;
rev=0;
while (num!=0):
  rev=rev*10 + num %10;
  num //= 10
print(f"Original number {n1} \nReversed number {rev}")

Enter a number: 524
Original number 524
Reversed number 425

Count digits in a number

In [ ]:
num = int(input("Enter a number: "))
n1=0;
rev=0;
while (num!=0):
  rev=rev*10 + num %10;
  num //= 10
  n1 += 1;
print(f"The count of digits is {n1}")

Enter a number: 10
The count of digits is 2

Pattern (Better implementation)

In [ ]:
limit = int(input("Enter the limit: "))
for i in range (0,limit*2,2):
  print();
  for j in range(0,int((limit*2-i)/2)):
      print(" ",end="")
  for j in range(0,i+1):
    if(j&1):
     print("*", end ="")
    else:
      print(" ",end = "")

Enter the limit: 10


          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *

Largest among three

In [ ]:
a= int(input("Enter the first number: "))
b= int(input("Enter the second number: "))
c= int(input("Enter the third number: "))
if(a>b and a>c):
  print(f"{a} is the largest number");
elif(b>c):
  print(f"{b} is the largest number");
else:
  print(f"{c} is the largest number")

Enter the first number10
Enter the second number20
Enter the third number5
20 is the largest number

Fibonaci using loop

In [ ]:
n= int(input("Enter the Limit : "));
a,b=0,1
for i in range(0,(n+1)):
  print(a,",",end="")
  a,b=b,a+b
print()

Enter the Limit5
0 ,1 ,1 ,2 ,3 ,5 ,

Sum of digits of a number

In [ ]:
num = int(input("Enter a number: "))
n1=0;
while (num!=0):
  n1 += num%10;
  num //= 10
print(f"The sum of digits of number is {n1}")

Enter a number: 458
The sum of digits of number is 17

Count vowels in a string

In [1]:
strg= input("Enter a string to count vowels in ");
vow=0;
for char in strg:
  if(char in ('a','i','o','e','u')):
    vow += 1;
print(f"number of vowels in {strg} is {vow}")

Enter a string to count vowels in  12

number of vowels in 12 is 0

**Functions**

Factorial using function

In [16]:
def fact(n):
    res = 1;
    if(n<0):
        print("Factorial cannot be found for a negative number")
    else:
        for i in range(n,1,-1):
            res *= i;
        return res
num= int(input("Enter the number to check factorial for"))
print(f"Factorial of {num} is {fact(num)}")

Enter the number to check factorial for 5

Factorial of 5 is 120

Calculator using function

In [30]:
def add(a,b):
    return a+b
def mul(a,b):
    return a*b
def sub(a,b):
    return a-b;
def div(a,b):
    if(b==0):
        print("Math Error: Division by 0 is not possible")
    else:
        return a/b
a=int(input("Enter a Integer"))
b=int(input("Enter second Integer"))
print(f"Select operation \n 1.Addition \n 2.Substraction \n 3.Multiplication \n 4.Division")
c=int(input())
if(c==1):
    print(f"sum of {a},{b} is {add(a,b)}")
elif(c==2):
    print(f"differance of {a},{b} is {sub(a,b)}")
elif(c==3):
    print(f"product of {a},{b} is {mul(a,b)}")
elif(c==4):
    print(f"Div of {a},{b} is {div(a,b)}")
else:
    print("Invalid Operator")

Enter a Integer 15
Enter second Integer 0

Select operation
 1.Addition
 2.Substraction
 3.Multiplication
 4.Division

 4

Math Error: Division by 0 is not possible
Div of 15,0 is None

prime check using function

In [39]:
def prime(num):
    if(not(num&1)):
      return False
    for i in range(2,int((num/2)+1)):
      if(num%i == 0):
        return False
    return True
num=int(input("Enter a integer to check whether it is a prime or not"))
if(prime(num)):
    print(f"{num} is a prime number ")
else:
    print(f"{num} is not a prime number ")

Enter a integer to check whether it is a prime or not 10

10 is not a prime number

Factorial using Recursion

In [22]:
def fact(n):
    if(n <= 1):
        return 1;
    else:
        return n*fact(n-1);
num=int(input("Enter the number to check factorial for"))
if(num<0):
    print("Number cant be negative")
else:
    print(f"Factorial of {num} is {fact(num)}")

Enter the number to check factorial for 5

Factorial of 5 is 120

Function to find average of numbers

In [59]:
def avg(a,b):
    return ((a+b)/2)
num = int(input("enter first integer"))
num2 = int(input("Enter second integer"))
print(f"Average of {num},{num2} is {avg(num,num2)}")

enter first integer 10
Enter second integer 20

Average of 10,20 is 15.0

Function to convert temparature

In [67]:
def cnv(c):
    return((c*(9/5))+32)
c=int(input("Enter the temparature"))
print(f"Fareiheit corrosponding to {c} celcius is {cnv(c)}")

Enter the temparature 10

Fareiheit corrosponding to 10 celcius is 50.0

Recursive sum of Natural numbers

In [61]:
def sum(n):
    if(n==0):
        return 0
    else:
        return n+sum(n-1)
num= int(input("Enter the limit"))
print(f"The Sum of Natural numbers upto {num} is {sum(num)}")

Enter the limit 10

The Sum of Natural numbers upto 10 is 55